header {
  margin-bottom: 20px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
  box-shadow: 0px -5px 15px black;
}

.link {
  /* margin-right: 20px; */
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  /* outline: 1px solid tomato; */
  cursor: pointer;
}

.link:hover {
  box-shadow: 0 0 5px tomato;
}

.active {
  color: tomato;
}
